### Applying pandas qcut bins to new data

In [21]:
import pandas as pd
import numpy as np
prng = np.random.RandomState(0)
df = pd.DataFrame(prng.randn(100, 2), columns = ["A", "B"])

In [22]:
col_c = ['a','b','c','d'] * 25

In [23]:
df['C'] = col_c

In [24]:
df.head()

          A         B  C
0  1.764052  0.400157  a
1  0.978738  2.240893  b
2  1.867558 -0.977278  c
3  0.950088 -0.151357  d
4 -0.103219  0.410599  a

In [28]:
grp = df.groupby(by='C')
for col in ['A','B']:
    print(grp[col])

<pandas.core.groupby.groupby.SeriesGroupBy object at 0x0000000008A83CF8>
<pandas.core.groupby.groupby.SeriesGroupBy object at 0x00000000087CF208>

In [87]:
bins_dict = {}
for group, subset in grp:
    print(group)
    print(subset)

    for col in ['B']:
        ser, bins = pd.qcut(subset[col], 5, retbins=True, labels=range(5))
        col_box = col + '_box'
        subset[col_box] = ser
        key = group + '_' + col
        bins_dict[key] = bins
    print(subset)

a
           A         B  C
0   1.764052  0.400157  a
4  -0.103219  0.410599  a
8   1.494079 -0.205158  a
12  2.269755 -1.454366  a
16 -0.887786 -1.980796  a
20 -1.048553 -1.420018  a
24 -1.613898 -0.212740  a
28  0.066517  0.302472  a
32  0.177426 -0.401781  a
36  1.139401 -1.234826  a
40 -1.165150  0.900826  a
44 -1.070753  1.054452  a
48  0.010500  1.785870  a
52 -1.173123  1.943621  a
56 -0.861226  1.910065  a
60  0.376426 -1.099401  a
64  0.672295  0.407462  a
68  0.576591 -0.208299  a
72  2.383145  0.944479  a
76 -0.744755 -0.826439  a
80 -0.498032  1.929532  a
84  1.188030  0.316943  a
88 -0.803410 -0.689550  a
92  0.625231 -1.602058  a
96 -0.039283 -1.168093  a
           A         B  C B_box
0   1.764052  0.400157  a     3
4  -0.103219  0.410599  a     3
8   1.494079 -0.205158  a     2
12  2.269755 -1.454366  a     0
16 -0.887786 -1.980796  a     0
20 -1.048553 -1.420018  a     0
24 -1.613898 -0.212740  a     2
28  0.066517  0.302472  a     2
32  0.177426 -0.401781  a     1
36  1.139401 -1.234826  a     0
40 -1.165150  0.900826  a     3
44 -1.070753  1.054452  a     4
48  0.010500  1.785870  a     4
52 -1.173123  1.943621  a     4
56 -0.861226  1.910065  a     4
60  0.376426 -1.099401  a     1
64  0.672295  0.407462  a     3
68  0.576591 -0.208299  a     2
72  2.383145  0.944479  a     3
76 -0.744755 -0.826439  a     1
80 -0.498032  1.929532  a     4
84  1.188030  0.316943  a     2
88 -0.803410 -0.689550  a     1
92  0.625231 -1.602058  a     0
96 -0.039283 -1.168093  a     1
b
           A         B  C
1   0.978738  2.240893  b
5   0.144044  1.454274  b
9   0.313068 -0.854096  b
13  0.045759 -0.187184  b
17 -0.347912  0.156349  b
21 -1.706270  1.950775  b
25 -0.895467  0.386902  b
29 -0.634322 -0.362741  b
33 -1.630198  0.462782  b
37  0.402342 -0.684810  b
41  0.465662 -1.536244  b
45 -0.403177  1.222445  b
49  0.126912  0.401989  b
53 -0.413619 -0.747455  b
57 -0.268003  0.802456  b
61  0.298238  1.326386  b
65 -0.769916  0.539249  b
69  0.396007 -1.093062  b
73 -0.912822  1.117016  b
77 -0.098453 -0.663478  b
81  0.949421  0.087551  b
85  0.920859  0.318728  b
89 -0.455533  0.017479  b
93 -1.104383  0.052165  b
97  0.523277 -0.171546  b
           A         B  C B_box
1   0.978738  2.240893  b     4
5   0.144044  1.454274  b     4
9   0.313068 -0.854096  b     0
13  0.045759 -0.187184  b     1
17 -0.347912  0.156349  b     2
21 -1.706270  1.950775  b     4
25 -0.895467  0.386902  b     2
29 -0.634322 -0.362741  b     1
33 -1.630198  0.462782  b     3
37  0.402342 -0.684810  b     0
41  0.465662 -1.536244  b     0
45 -0.403177  1.222445  b     4
49  0.126912  0.401989  b     3
53 -0.413619 -0.747455  b     0
57 -0.268003  0.802456  b     3
61  0.298238  1.326386  b     4
65 -0.769916  0.539249  b     3
69  0.396007 -1.093062  b     0
73 -0.912822  1.117016  b     3
77 -0.098453 -0.663478  b     1
81  0.949421  0.087551  b     2
85  0.920859  0.318728  b     2
89 -0.455533  0.017479  b     1
93 -1.104383  0.052165  b     2
97  0.523277 -0.171546  b     1
c
           A         B  C
2   1.867558 -0.977278  c
6   0.761038  0.121675  c
10 -2.552990  0.653619  c
14  1.532779  1.469359  c
18  1.230291  1.202380  c
22 -0.509652 -0.438074  c
26 -0.510805 -1.180632  c
30 -0.672460 -0.359553  c
34 -0.907298  0.051945  c
38 -0.870797 -0.578850  c
42  1.488252  1.895889  c
46  0.208275  0.976639  c
50  1.883151 -1.347759  c
54  1.922942  1.480515  c
58  0.947252 -0.155010  c
62 -0.694568 -0.149635  c
66 -0.674333  0.031831  c
70 -1.491258  0.439392  c
74 -1.315907 -0.461585  c
78  1.126636 -1.079932  c
82 -1.225436  0.844363  c
86  0.856831 -0.651026  c
90 -0.353994 -1.374951  c
94 -0.739563  1.543015  c
98  0.771791  0.823504  c
           A         B  C B_box
2   1.867558 -0.977278  c     0
6   0.761038  0.121675  c     2
10 -2.552990  0.653619  c     3
14  1.532779  1.469359  c     4
18  1.230291  1.202380  c     4
22 -0.509652 -0.438074  c     1
26 -0.510805 -1.180632  c     0
30 -0.672460 -0.359553  c     1
34 -0.907298  0.051945  c     2
38 -0.870797 -0.578850  c     1
42  1.488252  1.895889  c     4
46  0.208275  0.976639  c     3
50  1.883151 -1.347759  c     0
54  1.922942  1.480515  c     4
58  0.947252 -0.155010  c     2
62 -0.694568 -0.149635  c     2
66 -0.674333  0.031831  c     2
70 -1.491258  0.439392  c     3
74 -1.315907 -0.461585  c     1
78  1.126636 -1.079932  c     0
82 -1.225436  0.844363  c     3
86  0.856831 -0.651026  c     1
90 -0.353994 -1.374951  c     0
94 -0.739563  1.543015  c     4
98  0.771791  0.823504  c     3
d
           A         B  C
3   0.950088 -0.151357  d
7   0.443863  0.333674  d
11  0.864436 -0.742165  d
15  0.154947  0.378163  d
19 -0.387327 -0.302303  d
23 -1.252795  0.777490  d
27 -0.028182  0.428332  d
31 -0.813146 -1.726283  d
35  0.729091  0.128983  d
39 -0.311553  0.056165  d
43  1.178780 -0.179925  d
47  0.356366  0.706573  d
51 -1.270485  0.969397  d
55  1.867559  0.906045  d
59  0.614079  0.922207  d
63 -0.435154  1.849264  d
67 -0.635846  0.676433  d
71  0.166673  0.635031  d
75 -0.068242  1.713343  d
79 -1.147469 -0.437820  d
83 -1.000215 -1.544771  d
87 -1.034243  0.681595  d
91 -0.643618 -2.223403  d
95 -1.292857  0.267051  d
99  2.163236  1.336528  d
           A         B  C B_box
3   0.950088 -0.151357  d     1
7   0.443863  0.333674  d     2
11  0.864436 -0.742165  d     0
15  0.154947  0.378163  d     2
19 -0.387327 -0.302303  d     1
23 -1.252795  0.777490  d     3
27 -0.028182  0.428332  d     2
31 -0.813146 -1.726283  d     0
35  0.729091  0.128983  d     1
39 -0.311553  0.056165  d     1
43  1.178780 -0.179925  d     1
47  0.356366  0.706573  d     3
51 -1.270485  0.969397  d     4
55  1.867559  0.906045  d     3
59  0.614079  0.922207  d     4
63 -0.435154  1.849264  d     4
67 -0.635846  0.676433  d     3
71  0.166673  0.635031  d     2
75 -0.068242  1.713343  d     4
79 -1.147469 -0.437820  d     0
83 -1.000215 -1.544771  d     0
87 -1.034243  0.681595  d     3
91 -0.643618 -2.223403  d     0
95 -1.292857  0.267051  d     2
99  2.163236  1.336528  d     4

C:\Users\huanglvjun\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [44]:
bins_dict

{'a_A': array([-1.61389785, -0.91993919, -0.26114429,  0.2570259 ,  1.14912651,
         2.38314477]),
 'a_B': array([-1.98079647, -1.18143996, -0.28835654,  0.35022845,  0.96647393,
         1.94362119]),
 'b_A': array([-1.70627019, -0.79502617, -0.37001807,  0.13376468,  0.4150058 ,
         0.97873798]),
 'b_B': array([-1.53624369, -0.66774465,  0.03829071,  0.39293724,  1.13810204,
         2.2408932 ]),
 'c_A': array([-2.55298982, -0.87809739, -0.57546726,  0.76533886,  1.28188298,
         1.92294203]),
 'c_B': array([-1.37495129, -0.71627605, -0.23682732,  0.24876169,  1.0217872 ,
         1.89588918]),
 'd_A': array([-1.29285691, -1.00702085, -0.40645751,  0.15963785,  0.75615969,
         2.16323595]),
 'd_B': array([-2.22340315, -0.32940621,  0.21182369,  0.65159218,  0.90927706,
         1.84926373])}

In [49]:
import pickle
def save_obj(obj, name ):
    with open(name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name ):
    with open(name + '.pkl', 'rb') as f:
        return pickle.load(f)

In [50]:
save_obj(bins_dict, 'bins_dict')

In [52]:
load_obj('bins_dict')

{'a_A': array([-1.61389785, -0.91993919, -0.26114429,  0.2570259 ,  1.14912651,
         2.38314477]),
 'a_B': array([-1.98079647, -1.18143996, -0.28835654,  0.35022845,  0.96647393,
         1.94362119]),
 'b_A': array([-1.70627019, -0.79502617, -0.37001807,  0.13376468,  0.4150058 ,
         0.97873798]),
 'b_B': array([-1.53624369, -0.66774465,  0.03829071,  0.39293724,  1.13810204,
         2.2408932 ]),
 'c_A': array([-2.55298982, -0.87809739, -0.57546726,  0.76533886,  1.28188298,
         1.92294203]),
 'c_B': array([-1.37495129, -0.71627605, -0.23682732,  0.24876169,  1.0217872 ,
         1.89588918]),
 'd_A': array([-1.29285691, -1.00702085, -0.40645751,  0.15963785,  0.75615969,
         2.16323595]),
 'd_B': array([-2.22340315, -0.32940621,  0.21182369,  0.65159218,  0.90927706,
         1.84926373])}

In [54]:
bins_dict.get('a_A')

array([-1.61389785, -0.91993919, -0.26114429,  0.2570259 ,  1.14912651,
        2.38314477])

In [63]:
bins_dict = {}
res = []
for group, subset in grp:
    for col in ['A','B']:
        col_box = col + '_box'
        key = group + '_' + col
        bins = bins_dict.get(key)
        ser, bins = pd.qcut(subset[col], 5, retbins=True, labels=range(5))        
        subset[col_box] = pd.cut(subset[col], bins=bins, labels=False, include_lowest=True)
    res.append(subset)

C:\Users\huanglvjun\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [64]:
r = pd.concat(res, axis=0)

In [65]:
r.head()

           A         B  C  A_box  B_box
0   1.764052  0.400157  a      4      3
4  -0.103219  0.410599  a      2      3
8   1.494079 -0.205158  a      4      2
12  2.269755 -1.454366  a      4      0
16 -0.887786 -1.980796  a      1      0

### apply LabelEncoder to new data

In [69]:
df = pd.DataFrame([['a','a','b','c','d','d'],['cat','cat','cat','bird','bird','dog']]).T
df.columns = ['type','name']

In [73]:
from sklearn.preprocessing import LabelEncoder

In [77]:
le_dict = {}
for col in ['type','name']:
    col_en = col + '_en'
    le = LabelEncoder()
    le.fit(df[col])
    df[col_en] = le.transform(df[col])
    le_dict[col] = le

In [81]:
le_dict.get('type').transform(df['type'])

array([0, 0, 1, 2, 3, 3], dtype=int64)

In [82]:
save_obj(obj=le_dict, name='le_dict')

In [83]:
le_dict1 = load_obj(name='le_dict')

In [84]:
le_dict1.get('type').transform(df['type'])

array([0, 0, 1, 2, 3, 3], dtype=int64)

In [85]:
df

  type  name  type_en  name_en
0    a   cat        0        1
1    a   cat        0        1
2    b   cat        1        1
3    c  bird        2        0
4    d  bird        3        0
5    d   dog        3        2

### model_selection

In [2]:
import numpy as np

from sklearn.model_selection import LeavePOut

X = np.ones(4)
lpo = LeavePOut(p=2)

for train, test in lpo.split(X):
    print("%s %s" % (train, test))

[2 3] [0 1]
[1 3] [0 2]
[1 2] [0 3]
[0 3] [1 2]
[0 2] [1 3]
[0 1] [2 3]

In [6]:
X = np.ones(4)
X

array([ 1.,  1.,  1.,  1.])